
* {
    font-family: "Roboto", sans-serif;
}

body {
    font-family: Roboto, 'Arial',sans-serif;
    background: yellow;
    
}

#container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    
   
}

#cards {
    background: white;
    width: 130px;
    padding: 16px;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    
    color: rgba(0,0,0,.9);
    
}

#localização {
    background: white;
    width: 130px;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
   
    color: rgba(0,0,0,.9);
    
}

#conta {
    background: white;
    width: 130px;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
   
    color: rgba(0,0,0,.9);
    
}

#imgcard {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 20px 0px 20px 0px;
   

}

#imgLoc {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    
}

#imgCont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

}
#imgPag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

}





#valor{
    color:  black;
    font-weight: 700;
    margin-bottom: 8px;
}
#full{
    
    
    fill: #00a650;
    height: 15px;
    vertical-align: baseline;
}



#info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
    text-align: left;
    line-height:19px ;
}
#desc {
   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: center;
    line-height:19px ;
}

#value {
   
   margin-bottom: 10px;
   
}

#frete{
    display: flex;
    
    color: #00a650;
    font-weight: 700;
    margin-top: 8px;
    gap: 7px;
    
    
}
#title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
    margin-top: 6px;
    font-weight: 00;
}
a {
    text-decoration: none;
}

a:hover {
color: rgba(71, 71, 201, 0.748);

}

#but {
    background: #b1d0ff5e;
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: #3483fa;
    cursor: pointer;
    font-weight: 600;
  
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin-top: 45px;
    align-items: center;
}

#but span {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#button {
    background: #b1d0ff5e;
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: #3483fa;
    cursor: pointer;
    font-weight: 600;
  
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    
    align-items: center;
  
}
#button span {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
#but:hover {
    background: #8ebafc62;
}

#button:hover{
    background: #8ebafc62;
}


