
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto,Arial,sans-serif;
    background: yellow;
    
}

#container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
   
}

#cards {
    background: white;
    width: 130px;
    padding: 16px;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 8px;
    color: rgba(0,0,0,.9);
    
}

#localização {
    background: white;
    width: 130px;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
   
    color: rgba(0,0,0,.9);
    
}

#img {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

}




#valor{
    color:  black;
    font-weight: 700;
    margin-bottom: 8px;
}

#info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
    text-align: left;
}
#desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    
    text-align: center;
}

#value {
   
   margin-bottom: 8px;
   
}


#frete{
    color: #00a650;
    font-weight: 700;
    margin-top: 8px;
}
#title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    max-width: 120px;
}
a {
    text-decoration: none;
}

a:hover {
color: rgba(71, 71, 201, 0.748);

}
#button {
    background: #b1d0ff5e;
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: #3483fa;
    cursor: pointer;
    font-weight: 600;
  
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    align-items: center;
   

}
#button span {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

#button:hover{
    background: #74acff3f;
}


/*<div id="button"><span>Inserir localização</span></div>*/